{% extends "dash_layout.html" %}

{% block content %}

    {% load static from staticfiles %}
					<header class="special container">
						<span class="icon fa-laptop"></span>
						<h2 id="changetext">Please Upload Your <strong>iTunes XML File</strong></h2>
						<p id="instruct">Don't Worry, it's not that hard :D</p>
                        <span id="bear"></span>
					</header>

                    <script>
                        var change_text = function() {
                            document.getElementById('changetext').innerHTML = "Building Library...";
                            document.getElementById('instruct').innerHTML = "This may take up to a minute";
                            text = "<img src={% static 'images/giphy.gif' %} class='img-responsive' style='border-radius: 10px; max-height: 150px; margin:auto;'/>";
                            document.getElementById('bear').innerHTML = text;
                        };
                    </script>

					<!-- One -->
						<section class="wrapper style4 container">

							<div class="row 150%">
								<div class="4u 12u(narrower)">

									<!-- Sidebar -->
										<div class="sidebar">
											<section>
												<head>
													<h3>Upload it Here!</h3>
                                                    <form class="form-group" enctype="multipart/form-data" method="post" action="{% url 'streaming:load_artists' quick_run=1 %}">
                                                        {% csrf_token %}
                                                        <input type="file" class="btn" name="file">
                                                        <br>
                                                        <button onclick="change_text()" class="pull-right btn btn-lg">Upload File!</button>
                                                    </form>
												</head>
											</section>
										</div>

								</div>
								<div class="8u 12u(narrower) important(narrower)">

									<!-- Content -->
										<div class="content">
											<section class="text-center">
                                                <h3>How do you grab the file you ask?</h3>
                                                <p>Go into your iTunes, and in the top-left, go to "File" --> "Library" --> "Export"
                                                and save the file to a location you will remember. Then, go to 'Choose File' to
                                                    the left and find the file. Then hit Upload and you're all set!</p>
                                                <br/>
                                                <img class="img-responsive" src="{% static 'images/Export_pic.png' %}"/>
											</section>
										</div>

								</div>
							</div>
						</section>
{% endblock %}








